* {
    margin: 0;
}

.container {
    width: 1440px;
    /* height: 1904px; */
    margin-left: auto;
    margin-right: auto;
}

/*Nav Styling*/
nav {
    background-color: #434CCC;
    height: 304px;
}

.nav-top {
    display: flex;
    flex-direction: row;
}
.nav-logo {
    padding-left: 135px;
    padding-top: 16px;
    font-family: 'DM Serif';
    color: #FFFFFF;
    font-size: 40px;
    width: 50%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 28px;
    padding-right: 135px;
    font-family: 'DM Sans';
}

.nav-items {
    color: #FFFFFF;
    font-size: 16px;
    height: 24px;

}

.signup-btn {
    color: #FFFFFF;

}

.nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-top: 47px;
}
.contact {
    font-family: 'DM Serif';
    font-size: 72px;
    padding-bottom: 10px;
}
.nav-text {
    font-family: 'DM Sans';
    font-size: 20px;
}

/*Main*/

main {
    height: 1248px;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}
.main-top{
    padding-top: 64px;
    padding-left: 135px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px; 
    height: 640px;
    background-image: url(./media/map.png);

}

.main-bottom {
    display: flex;
    flex-direction: row;
    padding-left: 135px;
    padding-top: 60px;
}
.message-box {
    width: 834px;
    padding-right: 65px;
}
.msg-text {
    font-family: 'DM Serif';
    font-size: 56px;
    padding-bottom: 28px;
}

.input-ne {
    display: flex;
    flex-direction: row;
    padding-bottom: 28px;
}

input {
    border: 1px solid #DADADA
}
.name,.email {
    width: 401px;
    height: 48px;
}
.ne-gap {
    width: 33px;
}

.msg-field {
    width: 834px;
    height: 144px;
}
.input-m {
    padding-bottom: 33px;
}

::placeholder {
    width: 76px;
    height: 24px;
    font-family: 'DM Sans';
    padding-left: 16px;
    padding-top: 11px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 48px;
    background-color: #434CCC;
    font-family: 'DM Sans';
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 5px;
    border: 1px solid black;

}




.info-box {
    display: flex;
    flex-direction: column;
}
.info-text {
    font-family: 'DM Serif';
    font-size: 56px;
    padding-bottom: 28px;
}

.address, .tel, .mail {
    display: flex;
    flex-direction: row;
    
}


.ad-text {
    width: 200px;
    height: 48px;
    font-family: 'DM Sans';
    font-size: 16px;
    color: #00000080;
    padding-left: 22px;
}
.tel-icon {
    padding-top: 32px;
    padding-bottom: 32px;
}
.tel-text {
    font-family: 'DM Sans';
    font-size: 20px;
    color: #000000;
    padding-left: 22px;
    padding-top: 42px;
}
.mail-text {
    font-family: 'DM Sans';
    font-size: 20px;
    color: #000000;
    padding-left: 22px;
    font-weight: bold;
}

.socials {
    display: flex;
    flex-direction: row;
    padding-top: 54px;
}
.social-icons {
    background: #434CCC;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer*/
footer {
    height: 352px;
    background-color: #FFDD78;
}